*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.section-title
{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.sub-title
{
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #007bff;
}
.navbar
{
    background-color: antiquewhite;
}
.navbar-brand
 {
  font-family: 'Poppins', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: rgba(248,26,92);
}
.navbar ul li a
{
    font-weight: bold;
    font-size: 20px;
    color:rgba(248,26,92);
}
.navbar li:hover
{
    color: white!important;
    background-color:rgba(248,26,92);
    border-radius: 20px;

}
.navbar li a:hover
{
     color: white!important;
}
/* ==================navbar ends====================== */

.home .hello
{
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    color:rgba(248,26,92);
}
.home .name
{
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #973749;
}
.home .description
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    line-height: 1.6;
    color: #8d3939; /* softer text */
}
.home img
{
    width:400px;
    height: 400px;
    border: 2px solid rgba(248,26,92);
}
/* ===================home section ends=============== */

.about p
{
    font-family: 'Open Sans',sans-serif;
    font-size: 17px;
    line-height: 1.7;
    text-align: justify;
    color: #333;
}
/* .about h3
{
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #007bff;
} */
.softskill-group
{
    margin-left:20px;
}
.softskill-group li
{
    font-size: 17px;
    margin: 10px 0;
    list-style:disc;
}
.about .technical-skills h6
{
    margin-top:20px;
    margin-bottom: 8px;
}
/*Time Line*/
.timeline
{
    list-style: none;
    margin-left:20px;
    position: relative;
    padding: 0;
}
.timeline::before
{
    content: "";
    position: absolute;
    margin: 8px;
    top:-15px;
    bottom: 0;
    width:3px;
    background-color: #007bff;
}
.timeline li
{
    margin:29px 0;
    position: relative;
    padding-left: 30px;
}
.timeline li::before
{
    content: " ";
    position: absolute;
    left:2px;
    top:5px;
    height: 16px;
    width: 16px;
    border: 3px solid  #007bff ;
    border-radius: 50%;
    background-color: #fff;
    
}
.degree
{
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 5px; 
    margin-bottom: 3px;
}
.institute
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    margin: 0;

}
.year
{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;
    color: #666;

}
.projects .card
{
    box-shadow: 0 4px 16px rgba(82, 67, 102, 0.9);
}

.projects h3
{
    font-family: 'Poppins',sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.projects a
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact ul li
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #444;
}
.contact ul li i
{
    font-size: 18px;
    color: #007bff; 
    margin-right: 10px;
}

/*------Footer Section-------*/
.footer-section
{
    padding:30px;

}
.footer-name
{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
}
.footer-social a
{
    color: white;
    font-size: 25px;
    margin:0 10px;
}
.footer-social a:hover
{
    color: #007bff;
}
.footer-section p
 {
  font-size: 14px;
  margin-top: 15px;
  color: #aaa;
}